script(type='text/javascript', src='js/vendor/vendor.js')
script(type='text/javascript', src='js/vendor/leaflet/leaflet.js')
script(type='text/javascript', src='js/app.js')

link(href='js/vendor/leaflet/leaflet.css', rel='stylesheet')