script(type='text/javascript', src='js/vendor/vendor.js')
script(type='text/javascript', src='js/vendor/leaflet/leaflet.js')
script(type='text/javascript', src='js/vendor/prunecluster/PruneCluster.min.js')
script(type='text/javascript', src='js/vendor/leaflet-layerJSON/leaflet-layerjson.src.js')
script(type='text/javascript', src='js/app.js')

link(href='js/vendor/prunecluster/LeafletStyleSheet.css', rel='stylesheet')
link(href='js/vendor/leaflet/leaflet.css', rel='stylesheet')